:root {
  --color_bacgrund: #303545;
  --color_nav: #fff;
  --color_article: #BFB2AA;
  --color_card: #73665F;
}

main{
  width: 100%;
}
nav{
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding-left: 24px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
article {
  width: 80%;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}
.box_learn {
  margin-top: 15px;
  display: flex;
  align-items: center;
}
.card {
  width: 50%;
  height: 250px;

  border: 1px solid transparent;
  border-radius: 20px;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.btn_card{
	margin-top: 15px;
	background-color: transparent;
	border: none;
	font-size: 20px;
}
.div_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.know {
  margin-left: auto;
}
.know i{
  font-size: 25px;
}
.not_know i {
  font-size: 25px;
}
.not_know {
  width: 50%;
  margin-right: 15px;
}
/* .not_know strong{
  font-size: 12px;
} */
.img_button {
  width: 40%;
  background-color: transparent;
}
.img_cart{
	width: 80%;
}
