:root {
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 52%);
  --color-background: hsl(0, 0%, 98%);
  --color-header-background: hsl(0, 0%, 100%);
  --widtch_button: 40%;
  --widtch_butto2: 40%;
}

.main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 32px;
}
.nav {
  background-color: tomato;
}
.nav ul {
  list-style: none;
  display: flex;
}
.nav ul li {
  padding-left: 24px;
}
.nav ul li a {
  text-decoration: none;
  color: black;
}
article {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  /* background-color: grey; */
}
.add_fishcard {
  background-color: limegreen;
}

.box_learn {
  margin-top: 15px;
  /* background-color: brown; */
  display: flex;
  align-items: center;

  /* flex-direction: column; */
}
.card {
  width: 50%;
  height: 250px;
  background-color: aqua;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 12px 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.btn_card{
	margin-top: 15px;
	background-color: transparent;
	border: none;
	font-size: 20px;
}
.div_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.know {
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.not_know {
  background-color: transparent;
  border: none;
}
.img_button {
  width: 40%;
  background-color: transparent;
}
.img_cart{
	width: 80%;
}
